In [1]:
# Imports 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
rf_text = pd.read_csv('../data/rf_text.csv')
boost_text = pd.read_csv('../data/abc_text.csv')
rf_numerical = pd.read_csv('../data/rf_numerical.csv')
boost_numerical = pd.read_csv('../data/abc_numerical.csv')

In [9]:
text = pd.concat([rf_text, boost_text])
text.drop(columns=['Unnamed: 0', 'Transformer'], inplace=True)
text.reset_index(inplace=True, drop=True)
text.head()

          Model  Train_acc  Test_acc
0  RnadomForest   0.714833  0.713756
1      AdaBoost   0.783189  0.776047

In [10]:
num = pd.concat([rf_numerical, boost_numerical])
num.drop(columns='Unnamed: 0', inplace=True)
num.reset_index(inplace=True, drop=True)
num.head()

          Model  Train_acc  Test_acc
0  RnadomForest   0.762794  0.720430
1      Adaboost   0.726452  0.717093