In [1]:
import numpy as np
import pandas as pd

In [4]:
test_df = pd.read_csv('./data/test.csv')

In [5]:
train_df = pd.read_csv('./data/train.csv')

In [6]:
train_df['SalePrice'].median()   # They use the median in the Housing market

181469.70160897123

In [7]:
test_df['Id']

0      2658
1      2718
2      2414
3      1989
4       625
       ...
873    1662
874    1234
875    1373
876    1672
877    1939
Name: Id, Length: 878, dtype: int64

In [8]:
submission = pd.DataFrame(test_df['Id'])

In [9]:
submission['SalePrice'] = 181469.70160897123

In [10]:
submission

       Id      SalePrice
0    2658  181469.701609
1    2718  181469.701609
2    2414  181469.701609
3    1989  181469.701609
4     625  181469.701609
..    ...            ...
873  1662  181469.701609
874  1234  181469.701609
875  1373  181469.701609
876  1672  181469.701609
877  1939  181469.701609

[878 rows x 2 columns]

In [11]:
submission.to_csv('./data/submissions.csv', index=False)

In [12]:
pd.read_csv('./data/submissions.csv')

       Id      SalePrice
0    2658  181469.701609
1    2718  181469.701609
2    2414  181469.701609
3    1989  181469.701609
4     625  181469.701609
..    ...            ...
873  1662  181469.701609
874  1234  181469.701609
875  1373  181469.701609
876  1672  181469.701609
877  1939  181469.701609

[878 rows x 2 columns]